@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/inventory/inventory.css" rel="stylesheet" />

<div id="app">


    <!-- MAIN -->
    <div class="main-wrap">

        <!-- TOPBAR -->
        <header class="topbar">

            <div class="topbar-search">
                <input type="text"
                       placeholder="Tìm thiết bị..."
                       v-model="searchQuery">
            </div>

            <div class="user-chip">
                Admin
            </div>

        </header>

        <!-- CONTENT -->
        <main class="page-content">

            <div class="page-header">

                <div>
                    <h2>Danh sách thiết bị</h2>
                    <p>Quản lý kho thiết bị y tế</p>
                </div>

                <button class="btn-primary"
                        @@click="goDetail()">
                    Thêm thiết bị
                </button>

            </div>

            <!-- FILTER -->
            <div class="filter-bar">

                <!-- Filter theo vị trí -->
                <select v-model="filterLoca">
                    <option value="">Tất cả vị trí</option>

                    <option v-for="loc in locations" :key="loc" :value="loc">
                        ${ loc }
                    </option>
                </select>

                <!-- Filter theo loại tài sản -->
                <select v-model="filterGroup">

                    <option value="">
                        Tất cả loại tài sản
                    </option>

                    <option v-for="g in groups"
                            :key="g"
                            :value="g">

                        ${ g }

                    </option>

                </select>

                <!-- Filter theo trạng thái -->
                <select v-model="filterStatus">
                    <option value="">Tất cả trạng thái</option>

                    <option v-for="stat in status" :key="stat" :value="stat">
                        @*${ stat }*@
                        ${ statusLabel(stat) }
                    </option>
                </select>

                <!-- Filter theo record -->
                <select v-model="pageSize">
                    <option :value="10">10</option>
                    <option :value="15">15</option>
                    <option :value="20">20</option>
                    <option :value="50">50</option>
                </select>

            </div>

            <!-- TABLE -->
            <div class="table-card">

                <table>

                    <thead>
                        <tr>
                            <th @@click="sortBy('id')">Mã</th>
                            <th>Tên</th>
                            <th>Model</th>
                            <th>Serial</th>
                            <th>Khoa</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr v-for="item in paginatedDevices"
                            :key="item.Id"
                            @@click="openDetail(item.Id)"
                            class="table-row">

                            <td>${ item.Id }</td>

                            <td>${ item.ItemName  || '—' }</td>

                            <td>${ item.Model || '—' }</td>

                            <td>${ item.SerialNumber  || '—' }</td>

                            <td>${ item.DepartmentName  || 'Chưa được xếp' }</td>

                            @*<td>
                                <span :class="statusClass(item.LifeStatus)">
                                    ${ statusLabel(item.LifeStatus) }
                                </span>
                            </td>*@

                            <td>

                                <span style="padding:4px 10px;border-radius:20px;font-size:12px;font-weight:600;display:inline-flex;align-items:center;gap:6px"
                                      :style="{background:getLifeStatusMeta(item.LifeStatus).bg,color:getLifeStatusMeta(item.LifeStatus).color}">

                                    ${ getLifeStatusMeta(item.LifeStatus).icon }

                                    ${ getLifeStatusMeta(item.LifeStatus).text }

                                </span>

                            </td>

                        </tr>

                    </tbody>

                </table>

                <!-- Modal -->
                <div class="modal-overlay"
                     v-if="showModal"
                     @@click.self="showModal = false">

                    <div class="device-modal">

                        <div class="modal-header">

                            <h3>
                                Chi tiết thiết bị
                            </h3>

                            <button class="close-btn"
                                    @@click="showModal = false">

                                ×
                            </button>

                        </div>

                        <div class="modal-body"
                             v-if="selectedDevice">

                            <div class="detail-grid">

                                <div>
                                    <label>Mã tài sản</label>
                                    <p>${ selectedDevice.AssetCode }</p>
                                </div>

                                <div>
                                    <label>Tên thiết bị</label>
                                    <p>${ selectedDevice.ItemName }</p>
                                </div>

                                <div>
                                    <label>Serial</label>
                                    <p>${ selectedDevice.SerialNumber }</p>
                                </div>

                                <div>
                                    <label>Hãng</label>
                                    <p>${ selectedDevice.Brand }</p>
                                </div>

                                <div>
                                    <label>Model</label>
                                    <p>${ selectedDevice.Model }</p>
                                </div>

                                <div>
                                    <label>Khoa</label>
                                    <p>${ selectedDevice.DepartmentName }</p>
                                </div>

                                <div>
                                    <label>Vị trí</label>
                                    <p>${ selectedDevice.LocationName }</p>
                                </div>

                                <div>
                                    <label>Tầng</label>
                                    <p>${ selectedDevice.Floor }</p>
                                </div>

                                <div>
                                    <label>Tòa nhà</label>
                                    <p>${ selectedDevice.Building }</p>
                                </div>

                                <div>
                                    <label>Trạng thái</label>

                                    @*<span :class="statusClass(selectedDevice.LifeStatus)">
                ${ statusLabel(selectedDevice.LifeStatus) }
            </span>*@

                                    <span style="padding:4px 10px;border-radius:20px;font-size:12px;font-weight:600;display:inline-flex;align-items:center;gap:6px"
                                          :style="{background:getLifeStatusMeta(selectedDevice.LifeStatus).bg,color:getLifeStatusMeta(selectedDevice.LifeStatus).color}">

                                        ${ getLifeStatusMeta(selectedDevice.LifeStatus).icon }

                                        ${ getLifeStatusMeta(selectedDevice.LifeStatus).text }

                                    </span>
                                </div>

                                <div>
                                    <label>Giá trị</label>
                                    <p>
                                        ${ selectedDevice.TotalPrice }
                                    </p>
                                </div>

                                <div>
                                    <label>Phiếu</label>
                                    <p>${ selectedDevice.TicketCode }</p>
                                </div>

                                <div>
                                    <label>Năm sản xuất</label>
                                    <p>${ selectedDevice.YearManufactured || '—' }</p>
                                </div>

                                <div>
                                    <label>Năm hoạt động</label>
                                    <p>${ selectedDevice.YearInUse || '—' }</p>
                                </div>

                                <div>
                                    <label>Năm sử dụng</label>
                                    <p>${ selectedDevice.UsageYears || '—' }</p>
                                </div>

                                <div>
                                    <label>Phân loại</label>
                                    <p>${ selectedDevice.AssetCategory || '—' }</p>
                                </div>

                                <div>
                                    <label>Mã tập đoàn</label>
                                    <p>${ selectedDevice.GroupAssetCode || '—' }</p>
                                </div>

                                <div>
                                    <label>Mã kế toán</label>
                                    <p>${ selectedDevice.AccountingCode || '—' }</p>
                                </div>

                                <div>
                                    <label>Mã bảo hiểm</label>
                                    <p>${ selectedDevice.InsuranceCode || '—' }</p>
                                </div>

                                <div>
                                    <label>Nước sản xuất</label>
                                    <p>${ selectedDevice.CountryManufactured || '—' }</p>
                                </div>

                                <div>
                                    <label>Nhà sản xuất</label>
                                    <p>${ selectedDevice.Manufacturer || '—' }</p>
                                </div>

                                <div>
                                    <label>Nhà cung cấp</label>
                                    <p>${ selectedDevice.SupplierName || '—' }</p>
                                </div>

                                <div>
                                    <label>Ngày nhập</label>
                                    <p>${ selectedDevice.ImportDate || '—' }</p>
                                </div>

                                <div>
                                    <label>Hết bảo hành</label>
                                    <p>${ selectedDevice.WarrantyExpiry || '—' }</p>
                                </div>

                                <div>
                                    <label>Khấu hao (%)</label>
                                    <p>${ selectedDevice.DepreciationRate || '—' }</p>
                                </div>

                                <div>
                                    <label>Số năm khấu hao</label>
                                    <p>${ selectedDevice.DepreciationYears || '—' }</p>
                                </div>

                                <div>
                                    <label>Giá trị còn lại</label>
                                    <p>${ selectedDevice.ResidualValue || '—' }</p>
                                </div>

                                <div>
                                    <label>Người tạo</label>
                                    <p>${ selectedDevice.CreatedByName || '—' }</p>
                                </div>

                                <div>
                                    <label>Người duyệt</label>
                                    <p>${ selectedDevice.ApprovedByName || '—' }</p>
                                </div>

                                <div>
                                    <label>Ngày tạo</label>
                                    <p>${ selectedDevice.CreatedAt || '—' }</p>
                                </div>

                            </div>

                            <div class="note-box">

                                <label>Ghi chú</label>

                                <p>
                                    ${ selectedDevice.Note || 'Không có ghi chú' }
                                </p>

                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <div class="pagination">

            <button @@click="prevPage"
                    :disabled="currentPage == 1">

                Prev
            </button>

            <button v-for="page in pages"
                    :key="page"
                    @@click="changePage(page)"
                    :class="{ active: currentPage == page }">

                ${ page }
            </button>

            <button @@click="nextPage"
                    :disabled="currentPage == totalPages">

                Next
            </button>

            </div>
        </main>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="~/Addon/vue/vue.js"></script>
<script src="~/Addon/vue/vue_dev.js"></script>

<script src="~/Scripts/app/inventory.js"></script>